RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ /Projeto/index.php?url=$1 [QSA,L]
    
Options -Indexes
ErrorDocument 403 "Desculpe! acesso não permitido!"